<%- include('templates/header') %>
<div class="text-center">
    <br><br>
    <a href="/createUser"><button class="w-10 btn btn-lg btn-primary" type="submit">Sign Up</button></a>
    <br><br>
    <a href="/login"><button class="w-10 btn btn-lg btn-primary" type="submit">Log In</button></a>
</div>

<%- include('templates/footer') %>