<%- include('templates/header') %>
    <header class="d-flex justify-content-center py-3">
        <h1>Home Page</h1>
    </header>
    <header class="d-flex justify-content-center py-3">
        <p>Use the links in the navbar.</p>
    </header>
<%- include('templates/footer') %>