<%- include('templates/header') %>
<header class="d-flex justify-content-center py-3">
        Problem: <%= error %>
</header>
<header class="d-flex justify-content-center py-3">
    <a class="btn btn-primary rounded-pill px-3" href="<%= link %>">Try Again</a>
</header>
<%- include('templates/footer') %>